.newParty {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newParty__fields {
  display: grid;
  grid-gap: .5rem;
  margin-bottom: 1rem;
  max-width: 500px;
  margin-bottom: 3rem;

  label {
    display: block;
  }

  @include medium {
    grid-template-columns: auto 1fr;
    grid-gap: 5px;
    max-width: 500px;

    label {
      place-self: center end;
    }
  }
}